---
import '@fontsource-variable/inter';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1SK56CS3PG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1SK56CS3PG');
</script>

    <meta charset="UTF-8" />
    <meta name="description" content="Professional cleaning services in Australia - Home cleaning, elderly care cleaning, and bond cleaning services." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Cleanforcare</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main>
      <script type="text/javascript">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"2d5ce96b4bb7ae2100983c1c68723dd6ab45f902d209e6b041d9d75d03ee649d", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com.au/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 45, 104, 255;
  }
  html {
    font-family: 'Inter Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
  }
</style>